{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% endif %}

  <ul class=book>
  {% for entry in entries %}
      <li><h3>{{ entry.title }}</h3><h2>{{ entry.author|safe }}</h2><br />{{ entry.description|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

<ul class=recommend>
    {% for entry in r_entries %}
        <li><h3>
            <a href="{{ url_for('book', isbn=entry.isbn) }}">{{ entry.title}}</a></h3>{{ entry.author }}</li>
    {% endfor %}
</ul>

{% endblock %}

